<?xml version="1.0" encoding="UTF-8"?>
<!-- Preferences of the GR-55 FloorBoard application. -->
<Preferences>
	<General>
		<Application version="20110130"/>
		<Donate url=""/>
		<Files dir=""/>
		<Help url="GR-55FloorBoard_help.html"/>
		<Language code="en"/>
		<Manual url="GR-55FloorBoard_Operation_Manual.pdf"/>
		<Upload url="http://sourceforge.net/projects/me-edit/"/>
		<Webpage url="http://sourceforge.net/projects/me-edit/"/>
	</General>
	<Language>
    <Locale select="0"/>
  </Language>
	<Midi>
	  <BulkFinish patch="200"/>
	  <BulkStart patch="1"/>
		<DBug bool="false"/>
		<Delay set="30"/>
		<MidiIn device=""/>
		<MidiOut device=""/>
		<Time set="80"/>		
	</Midi>
	<Window>
    <Collapsed bool="true" defaultwidth="1210" width="1210"/>
    <Position x="" y=""/>
    <Restore sidepanel="true" window="false"/>
    <Single bool="false"/>
    <Size height="" minheight="548" minwidth="1014" width=""/>
    <Splash bool="true"/>
    <Widgets bool="true"/>
  </Window>
</Preferences>
 
