<?xml version="1.0" encoding="UTF-8"?>
<!-- Preferences of the GR-55 FloorBoard application. -->
<Preferences xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="preferences.xsd">
	<General>
		<Application version="20111026"/>
		<Donate url=""/>
		<Files dir=""/>
		<Help url="GR-55FloorBoard_help.html"/>
		<Language code="en"/>
		<Manual url="http://www.roland.com/products/en/_support/om.cfm?PRODUCT=GR-55"/>
		<Upload url="http://www.vguitarforums.com/smf/index.php"/>
		<Webpage url="http://sourceforge.net/projects/grfloorboard/"/>
	</General>
	<Language>
    <Locale select="0"/>
  </Language>
	<Midi>
	  <BulkFinish patch="297"/>
	  <BulkStart patch="1"/>
		<DBug bool="false"/>
		<Delay set="30"/>
		<MidiIn device=""/>
		<MidiOut device=""/>
		<Time set="80"/>		
	</Midi>
	<Scheme>
	  <Style select="1"/>
	  <Colour select="0"/>
	</Scheme>
	<Window>
    <Collapsed bool="true" defaultwidth="1210" width="1210"/>
    <Position x="" y=""/>
    <Restore sidepanel="true" window="false"/>
    <Single bool="true"/>
    <Size height="" minheight="548" minwidth="1014" width=""/>
    <Splash bool="true"/>
    <Widgets bool="true"/>
  </Window>
</Preferences>
 
